* {
	font-size: 16px;
	margin:0;
	padding:0;
}
.container {
}
	header {
		background-color:black;
		color: white;
		padding:20px 0;
	}
	header h1 {
		font-size:3rem;
		text-align: center;
	}

	main {
		display: flex;
		flex-wrap: wrap;
	}


	.list-view {
		background-color:black;
		padding:20px;
		width:calc(25% - 40px);
	}
	.list-view input {
		margin-bottom:20px;
		width:100%;
	}
	.list-view ul {
		list-style-type: none;
		padding:0;
	}
	.list-view li {

	}
	.list-view button {
		background-color: black;
		border: none;
		color:white;
		font-size: 1rem;
		margin-bottom:10px;
		padding:10px 10px 20px;
		text-align: left;
		width:100%;
	}
	.list-view button:hover {
		background-color: darkslategrey;
	}
	.map {
		height:500px;
		width:500px;
	}


	footer {
		background-color:black;
		color: white;
		height: 100px;
		padding:20px 0;
	}



	/* ====================== breakpoints ====================== */
	@media all and (min-width: 960px) {


	}


	/* ----- 721px -> 959px ----- */
	@media all and (min-width: 721px) and (max-width: 959px) {
		/* Styles in here portrait */



		/* Leave this nested in here */
		@media (orientation: landscape) {
			/* Styles in here LS */
		}
	}


	/* ----- 501px -> 720px ----- */
	@media screen and (min-width: 501px) and (max-width: 720px) {
		/* Styles in here portrait */

		/* Leave this nested in here */
		@media (orientation: landscape) {
			/* Styles in here LS */
		}
	}


	/* ----- 0px -> 500px ----- */
	@media screen and (max-width: 500px) {
		/* Smallest screens either P or LS */

	}
