* {
	padding:0;
	margin:0;
	font-size: 16px;
}
.container {
}
	header, footer {
		height: 100px;
		background-color:black;
		color: white;
	}
	main {
		display: flex;
		flex-wrap: wrap;
	}

	header {
		
	}


	.list-view {
		width:calc(25% - 40px);
		background-color:grey;
		padding:20px;
	}
	.list-view ul {
		list-style-type: none;
		padding:0;
	}
	.list-view li {

	}
	.list-view button {
		width:100%;
		font-size: 1rem;
		text-align: left;
		padding:10px 10px 20px;
		margin-bottom:10px;
	}
	.map {
		width:500px;
		height:500px;
	}




	/* ====================== breakpoints ====================== */
	@media all and (min-width: 960px) {


	}


	/* ----- 721px -> 959px ----- */
	@media all and (min-width: 721px) and (max-width: 959px) {
		/* Styles in here portrait */



		/* Leave this nested in here */
		@media (orientation: landscape) {
			/* Styles in here LS */
		}
	}


	/* ----- 501px -> 720px ----- */
	@media screen and (min-width: 501px) and (max-width: 720px) {
		/* Styles in here portrait */

		/* Leave this nested in here */
		@media (orientation: landscape) {
			/* Styles in here LS */
		}
	}


	/* ----- 0px -> 500px ----- */
	@media screen and (max-width: 500px) {
		/* Smallest screens either P or LS */

	}
