* {
	font-size: 16px;
	margin:0;
	padding:0;
}
.container {
	display: flex;
	flex-wrap: wrap;
	position:relative;
	overflow: hidden;
	width:100vw;
	height:100vh;
}

/* -----  Header Styles ----- */
header {
	background-color:black;
	color: white;
	width:calc(25% - 30px);
	padding:15px;
	height:100%;
}
header h1 {
	background-color: black;
	font-size:1.3rem;
	text-align: left;
	margin-bottom:20px;
	height:10vh;
	min-height: 50px;
}
#filter-options {
	width:100%;
}
.button-list {
	display: block;
	width:100%;
	height: 70vh;
	overflow: scroll;
}
.list-view {
}
.list-view input {
	margin-bottom:20px;
	width:100%;
}
.list-view ul {
	list-style-type: none;
	padding:0;
}
.list-view li {
}
.list-view button {
	background-color: black;
	border: none;
	color:white;
	font-size: 1rem;
	margin-bottom:10px;
	padding:10px 0px 20px;
	text-align: left;
	width:100%;
}
.list-view button:hover {
	background-color: darkslategrey;
}
#data-credit {
	position: fixed;
	bottom:0px;
	width:calc(25% - 30px);

	background-color: black;
	height:60px;
	padding:10px 0;
}
#data-credit a {
	text-decoration: none;
	font-weight: bold;
	line-height: 2rem;
	color: white;
}

/* -----  Main Styles ----- */
main {
	}
#map-container div {
}

	/* ====================== breakpoints ====================== */
	@media all and (min-width: 960px) {


	}


	/* ----- 721px -> 959px ----- */
	@media all and (min-width: 721px) and (max-width: 959px) {
		/* Styles in here portrait */



		/* Leave this nested in here */
		@media (orientation: landscape) {
			/* Styles in here LS */
		}
	}


	/* ----- 501px -> 720px ----- */
	@media screen and (min-width: 501px) and (max-width: 720px) {
		/* Styles in here portrait */

		/* Leave this nested in here */
		@media (orientation: landscape) {
			/* Styles in here LS */
		}
	}


	/* ----- 0px -> 500px ----- */
	@media screen and (max-width: 500px) {
		/* Smallest screens either P or LS */

	}
